body {
    background: url("../images/rose.jpg") top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: palevioletred;
    color: whitesmoke;
    text-align: center;
    padding: 2.5%;
}

h1 {
    font-size: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 700;
    font-family: 'Lemonada', cursive;
    color: darksalmon;

}

p {
    font-size: 15px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
}

.noman {
    font-size: 25px;
    color: brown;
    font-weight: 500;
}

.emo {
    padding: 0%;    
}